@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400;1,500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}

body,p,span{
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,a{
  font-family: 'Rubik', sans-serif; 
}

img{
  max-width: 100%;
}

.grybg{
  background: #F9FAFB;
}

body .btn-primary{
  background: #E83B3E !important;
  border-color: #E83B3E;
  padding: 10px 40px;
  font-size: 18px;

  position: relative;
  z-index: 1;
}

body .btn-primary:hover{
  border-color: #111;
}

body .btn-primary::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #111;
  border-color: #111;

  z-index: -1;
  transition: .4s;
}

body .btn-primary:hover::after{
  width: 100%;
}

/* 
=========================================
      01. header section css
=========================================
*/
nav{
  background: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0, 0.1);
}

#slider-section .container-fluid,
.main-header .container-fluid{
  max-width: 1480px;
}

/* menu */
ul.our-primary-menu li a{
  display: inline-block;
  padding: 10px 20px;
  color: #111;
  font-weight: 500;
  transition: .5s;
}

ul.our-primary-menu li a i{
  font-size: 12px;
  font-weight: 700;
}

ul.our-primary-menu li a.active,
ul.our-primary-menu li a:hover{
  color: #E83B3E;
}

/* Dropdown menu */
ul.our-primary-menu li{
  position: relative;
}


ul.our-primary-menu li ul{
  position: absolute;
  width: 300px;
  left: 0;
  top: 150%;
  background: #fff;
  padding: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0, 0.1);

  opacity: 0;
  visibility: hidden;
  transition: all .4s ease-in-out;
}

ul.our-primary-menu li ul li ul{
  display: block;
  position: absolute;
  width: 250px;
  left: -90%;
  top: 0;
  background: #fff;
  padding: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0, 0.1);

  opacity: 0;
  visibility: hidden;
  transition: all .4s ease-in-out;
}

ul.our-primary-menu li ul li{
  flex-direction: column;
}

ul.our-primary-menu li:hover ul{
  opacity: 1;
  visibility: visible;
  top: 130%;
}


ul.our-primary-menu li ul li a:hover{
  letter-spacing: 2px;
}

.header-search{
  width: 60px;
  font-size: 22px;
  text-align: center;
  margin-right: 20px;
  border-right: 1px solid #ddd;
  cursor: pointer;
}

.header-call{
  width: 220px;
}

.header-call-icon{
  font-size: 32px;  
  color: #E83B3E;
  margin: 0 8px;
}

.header-call-info span{
  font-size: 18px;
  color: #606060;
}

.header-call-info a{  
  font-weight: 700;
  color: #111;
}


/* 
=========================================
      2.1 slider section css
=========================================
*/
#slider-section{
  background: url("images/main-banner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.slider-content-wrap{
  height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
}

.slider-content h6{
  font-size: 18px;
  font-weight: 400;
  color: #e73c3e;
}

.slider-content h1{
  font-size: 68px;
  font-weight: 500;
  margin: 20px 0;
  line-height: 1.2;
}

.slider-content p{
  font-size: 18px;
  font-weight: 400;
  color: #606060;
}

.header-social-icons{
  position: absolute;
  left: 0;
  bottom: 0;
}

.header-social-icons ul li span{
  font-size: 18px;
  display: inline-block;
  position: relative;
  margin-right: 50px;
}

.header-social-icons ul li span::after{
  content: "";
  height: 2px;
  background: #606060;
  width: 35px;
  position: absolute;
  right: -45px;
  top: 51%;
}

.header-social-icons ul li a{  
  font-size: 22px;
  color: #E83B3E;
  margin: 0 15px;
  display: inline-block;
}
/* 
=========================================
      2.3 about section css
=========================================
*/
#about{
  background: #fff;
  padding: 80px 0;
}

.about-image{
  position: relative;
}

.about-img-text{
  position: absolute;
  right: 100px;
  bottom: 0px;
  height: 200px;
  width: 200px;
  background: url("images/shape.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img-text-inner h2{
  font-size: 70px;
  font-weight: 500;
  color: #E83B3E;
}

.about-img-text-inner p{
  font-size: 18px;
  font-weight: 400;
  color: #111;
}

.finix-text h6{
  font-size: 18px;
  font-weight: 400;
  color: #E83B3E;
}

.finix-text h2{
  font-size: 30px;
  font-weight: 600;
  color: #111;
  margin: 20px 0;
  line-height: 1.2;
}

.finix-text p{
  font-size: 18px;
  font-weight: 400;
  color: #606060;
  line-height: 1.5;
  margin: 10px 0;
}

.finix-text strong{
  font-size: 25px;
  font-weight: 400;
  color: #606060;
  margin: 10px 0;
}

.finix-text ul{
  padding-left: 0;
  margin-top: 20px;
}

.finix-text ul li{
  font-size: 20px;
  font-weight: 400;
  color: #606060;
  margin: 10px 0;
}

.finix-text ul li::before{
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: #e73c3e;
  display: inline-block;
  margin-right: 10px;
}
/* 
=========================================
  2.4 Transparent process section css
=========================================
*/
.finix-text{
  position: relative;
}

.finix-text .play-btn{
  font-size: 40px;
  width: 5rem;
  height: 5rem;
  text-align: center;
  display: inline-block;
  color: #E83B3E;
  background: #fff;
  border-radius: 50%;
  line-height: 2;

  position: absolute;
  right: 45%;
  bottom: 50px;

}

.finix-text .play-btn::before{
  content: "";
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #E83B3E;
  border-radius: 50%;
  animation: playbtn 1.6s ease-out infinite;
}

@keyframes playbtn{
  0%,30%{
    transform: scale(0);
    opacity: 1;
  }
  50%{
    transform: scale(1.5);
    opacity: .7;
  }
  100%{
    transform: scale(2);
    opacity: 0;
  }
}

.feature-box{
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;

  position: relative;
  overflow: hidden;
  transition: .5s;
}

.feature-box::before{
  content: " ";
  position: absolute;
  top: -150px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 95%;
  height: 70%;
  border-radius: 50%;
  background: #FDEBEB;
}

.feature-box .feature-icon i{
  color: #E83B3E;
  font-size: 30px;
  background: #fff;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  border-radius: 50%;
  line-height: 1.5;
  position: relative;
  transition: .5s;
}

.mrtop{
  margin-top: -30px;
}

.feature-box:hover{
  transform: translateY(-15px);
}

.feature-box:hover .feature-icon i {
  color: #fff;
  background: #E83B3E;
}

/* 
=========================================
      2.5 Apply section css
=========================================
*/
.step-timeline ul li strong{
  font-size: 25px;
  font-weight: 500; 
  display: block;
  margin-bottom: 10px;
}

.step-timeline ul li p{
  font-size: 18px;
  font-weight: 400;
  color: #606060;
  line-height: 1.5;
  margin-bottom: 15px;
}

.step-timeline ul{
  position: relative;
}

.step-timeline ul::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.5px;
  background: #E83B3E;
  height: calc(100% - 100px);
}

.step-timeline ul li{
  margin-left: 20px;
  position: relative;
}

.step-timeline ul li::before{
  content: attr(data-counter);
  position: absolute;
  top: 0;
  left: -77px;
  font-size: 30px;
  color: #E83B3E;
  background: #F9FAFB;
  border: 1px solid #E83B3E;
  border-radius: 50%;
  padding: 0.5rem;
  height: 3rem;
  width: 3rem;
  text-align: center;
  line-height: 1.2;
}

.apply-rules{
  margin-top: 70px;
}

.calculation-form-section{
  background: #FDEBEB;
  padding: 50px 10px;
}

.calculation-form-section .finix-text h6{
  color: #606060;
}

.calculate-form .form-group label{
  font-size: 18px;
  color: #606060;
  font-weight: 400;
  margin: 10px 0;
}

.calculate-form .form-group select,
.calculate-form .form-group input{
  border: none;
  border-radius: 0;
  padding: 10px;
}

.calculate-form .form-group select option{
  border: none;
  border-radius: 0;
  padding: 10px;  
  color: #606060;
  background: #fff;
  border: 1px solid #111;
}

.form-group select:hover option{
  color: #fff;
  background: #E83B3E;
}
/* 
=========================================
      2.6 call section css
=========================================
*/
#call .call-text h2{
  color: #fff;
  border-right: 1px solid #eee;
}

#call .icons-number{
  display: flex;
  justify-content: space-between;
  font-size: 50px;
}

#call .icons-number .icons i{
  font-size: 40px;
  color: #E83B3E;
  background: #fff;
  padding: 1rem;
  height: 5rem;
  width: 5rem;
  line-height: 1.2;
  text-align: center;
  border-radius: 50%;
}

.icons-number a{
  color: #fff;
}
/* 
=========================================
    2.7 company values section css
=========================================
*/
.all-values .values-icons i{
  color: #e73c3e;
  font-size: 35px;
}

.all-values .values{
  padding-left: 25px;
}

.all-values .values p{
  color: #606060;
  line-height: 1.5;
}







